In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
customer = pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_customers_dataset.csv"
)

customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [3]:
geolocation=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_geolocation_dataset.csv"
)
geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [4]:
order_items=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_order_items_dataset.csv"
    )

order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [5]:
payment=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_order_payments_dataset.csv"
    )

payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [6]:
reviews=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_order_reviews_dataset.csv"
    )

reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [7]:
orders=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_orders_dataset.csv"
)
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [8]:
product=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_products_dataset.csv"
)
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [9]:
sellers=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_sellers_dataset.csv"
)
sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [10]:
category_translation=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\product_category_name_translation.csv")

category_translation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

TASK 1.1 — Sanity & Structure Check (CODE)

In [11]:
datasets={
    "customer":customer,
    "orders":orders,
    "order_items":order_items,
    "product":product,
    "payment":payment,
    "reviews":reviews,
    "sellers":sellers,
    "category_translation":category_translation,
    "geolocation":geolocation

}

for name,df in datasets.items():
    print(f"\n{'='*50}")

    print(f"DATASET: {name.upper()}")
    print(f"{'='*50}")


    print("shape:",df.shape)
    print("\nColumns:")
    print(df.columns.tolist())


    print("\n missing values (%):")
    print((df.isna().mean()*100).round(2).sort_values(ascending=False).head(10))

==================================================
DATASET: CUSTOMER
==================================================
shape: (99441, 5)

Columns:
['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

 missing values (%):
customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

==================================================
DATASET: ORDERS
==================================================
shape: (99441, 8)

Columns:
['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

 missing values (%):
order_delivered_customer_date    2.98
order_delivered_carrier_date     1.79
order_approved_at                0.16
order_id                         0.00
order_purchase_timestamp         0.00
order_status                     0.00
customer_id                      0.00
order_estimated_delivery_date    0.00
dtype: float64

==================================================
DATASET: ORDER_ITEMS
==================================================
shape: (112650, 7)

Columns:
['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']

 missing values (%):
order_id               0.0
order_item_id          0.0
product_id             0.0
seller_id              0.0
shipping_limit_date    0.0
price                  0.0
freight_value          0.0
dtype: float64

==================================================
DATASET: PRODUCT
==================================================
shape: (32951, 9)

Columns:
['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

 missing values (%):
product_category_name         1.85
product_description_lenght    1.85
product_name_lenght           1.85
product_photos_qty            1.85
product_weight_g              0.01
product_height_cm             0.01
product_length_cm             0.01
product_width_cm              0.01
product_id                    0.00
dtype: float64

==================================================
DATASET: PAYMENT
==================================================
shape: (103886, 5)

Columns:
['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']

 missing values (%):
order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

==================================================
DATASET: REVIEWS
==================================================
shape: (99224, 7)

Columns:
['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']

 missing values (%):
review_comment_title       88.34
review_comment_message     58.70
review_id                   0.00
review_score                0.00
order_id                    0.00
review_creation_date        0.00
review_answer_timestamp     0.00
dtype: float64

==================================================
DATASET: SELLERS
==================================================
shape: (3095, 4)

Columns:
['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']

 missing values (%):
seller_id                 0.0
seller_zip_code_prefix    0.0
seller_city               0.0
seller_state              0.0
dtype: float64

==================================================
DATASET: CATEGORY_TRANSLATION
==================================================
shape: (71, 2)

Columns:
['product_category_name', 'product_category_name_english']

 missing values (%):
product_category_name            0.0
product_category_name_english    0.0
dtype: float64

==================================================
DATASET: GEOLOCATION
==================================================
shape: (1000163, 5)

Columns:
['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']

 missing values (%):
geolocation_zip_code_prefix    0.0
geolocation_lat                0.0
geolocation_lng                0.0
geolocation_city               0.0
geolocation_state              0.0
dtype: float64

TASK 1.2:Decide the “Grain” of the Data

olist_order_items_dataset

It already has:

order_id

product_id

seller_id

price

freight_value

TASK 1.3 — Chain Join

orders
   ↓
customers
   ↓
order_items   ← (this sets the grain)
   ↓
products
   ↓
category_translation

Orders-> Customers

In [12]:
df=orders.merge(
    customer,on="customer_id",
    how="left"

)

print("After orders + customers: ",df.shape)

After orders + customers:  (99441, 12)

In [13]:
df=df.merge(
    order_items,
    on="order_id",
    how="left"
)
print("After adding order items: ",df.shape)
print("Unique orders:",df['order_id'].nunique())

After adding order items:  (113425, 18)
Unique orders: 99441

In [14]:
df=df.merge(
    product,
    on="product_id",
    how="left"
)

print("after adding the products: ",df.shape)

after adding the products:  (113425, 26)

In [15]:
df=df.merge(
    category_translation,
    on="product_category_name",
    how="left"
)

print("after adding the category translation: ",df.shape)

after adding the category translation:  (113425, 27)

In [16]:
print("Rows:",df.shape[0])
print("unique order_id: ",df['order_id'].nunique())
print("unique product_id: ",df['product_id'].nunique())


df[['order_id','product_id']].duplicated().sum()

Rows: 113425
unique order_id:  99441
unique product_id:  32951

np.int64(10225)

In [17]:
df_chain=df.copy()

TASK 1.4 — Payment Aggregation

In [18]:



payment_agg=(
    payment
    .groupby("order_id",as_index=False)
    .agg(
        total_payment_value=("payment_value","sum"),
        payment_installments=("payment_installments","max")
    )
)

print("aggregated payment shape: ",payment_agg.shape)
payment_agg.head()

aggregated payment shape:  (99440, 3)

                           order_id  total_payment_value  payment_installments
0  00010242fe8c5a6d1ba2dd792cb16214                72.19                     2
1  00018f77f2f0320c557190d7a144bdd3               259.83                     3
2  000229ec398224ef6ca0657da4fc703e               216.87                     5
3  00024acbcdf0a6daa1e931b038114c75                25.78                     2
4  00042b26cf59d7ce69dfabb4e55b4fd9               218.04                     3

In [19]:
df=df_chain.merge(
    payment_agg,
    on="order_id",
    how="left"
)

print("after joining payments: ",df.shape)

after joining payments:  (113425, 29)

In [20]:
df_chain['order_id'].nunique(),df['order_id'].nunique()

(99441, 99441)

In [21]:
payment_agg['total_payment_value'].sum()

df.groupby("order_id")['total_payment_value'].first().sum()

np.float64(16008872.12)

In [22]:
df_payment_added=df.copy()

TASK 1.5 — Datetime Conversion (CODE)

In [23]:
date_cols=[
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_customer_date",
    "order_estimated_delivery_date"
]

In [24]:
for col in date_cols:
    df[col]=pd.to_datetime(df[col],errors="coerce")

In [25]:
df[date_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113425 entries, 0 to 113424
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_purchase_timestamp       113425 non-null  datetime64[ns]
 1   order_approved_at              113264 non-null  datetime64[ns]
 2   order_delivered_customer_date  110196 non-null  datetime64[ns]
 3   order_estimated_delivery_date  113425 non-null  datetime64[ns]
dtypes: datetime64[ns](4)
memory usage: 3.5 MB

In [26]:
df[date_cols].isna().sum()

df["order_purchase_timestamp"].min(),df["order_purchase_timestamp"].max()

(Timestamp('2016-09-04 21:15:19'), Timestamp('2018-10-17 17:30:18'))

In [27]:
df_master=df.copy()
df_master.shape

(113425, 29)

Day 2: Operational Analytics & Logistics

Create actual_wait_time_days

In [28]:
df_master["actual_wait_time_days"]=(
    df_master["order_delivered_customer_date"]
    - df_master["order_purchase_timestamp"]
).dt.days

Create estimated_error_days

In [29]:
df_master["estimate_error-days"]=(
    df_master["order_delivered_customer_date"]
    - df_master["order_estimated_delivery_date"]
).dt.days

In [30]:
df_master["order_delivered_customer_date"].isna().sum()

np.int64(3229)

In [31]:
df_master[["actual_wait_time_days","estimate_error-days"]].describe()

       actual_wait_time_days  estimate_error-days
count          110196.000000        110196.000000
mean               12.007723           -12.030201
std                 9.451455            10.160157
min                 0.000000          -147.000000
25%                 6.000000           -17.000000
50%                10.000000           -13.000000
75%                15.000000            -7.000000
max               209.000000           188.000000

In [32]:
df_master[df_master["estimate_error-days"]>0][
    ["order_id","actual_wait_time_days","estimate_error-days"]
].head()

,order_id,actual_wait_time_days,estimate_error-days
21,203096f03d82e0dffbc41ebc2e2bcfb7,21.0,11.0
26,fbf9ac61453ac646ce8ad9783d7d0af6,28.0,9.0
43,6ea2f835b4556291ffdc53fa0b3b95e8,33.0,7.0
60,66e4624ae69e7dc89bd50222b59f581f,24.0,1.0
61,66e4624ae69e7dc89bd50222b59f581f,24.0,1.0

In [33]:
df_day2=df_master.copy()

Freight Logic

In [34]:
df_day2=df_day2[df_day2["price"]>0].copy()

df_day2["freight_ratio"]=(
    df_day2["freight_value"] / df_day2["price"]
)

In [35]:
df_day2["freight_ratio"].describe()

count    112650.000000
mean          0.320864
std           0.349894
min           0.000000
25%           0.134034
50%           0.231356
75%           0.393036
max          26.235294
Name: freight_ratio, dtype: float64

In [36]:
state_freight=(
    df_day2
    .groupby("customer_state",as_index=False)
    .agg(
        avg_freight_ratio=("freight_ratio","mean"),
        total_order=("order_id","nunique")
    )
    .sort_values("avg_freight_ratio",ascending=False)

)

state_freight.head(10)

   customer_state  avg_freight_ratio  total_order
20             RO           0.594188          247
21             RR           0.589050           46
9              MA           0.549324          740
0              AC           0.511651           81
14             PB           0.511597          532
19             RN           0.506330          482
16             PI           0.499842          493
26             TO           0.499459          279
2              AM           0.498136          147
1              AL           0.474482          411

In [37]:
state_freight_clean=state_freight[state_freight["total_order"]>=100]
state_freight_clean.head(10)

   customer_state  avg_freight_ratio  total_order
20             RO           0.594188          247
9              MA           0.549324          740
14             PB           0.511597          532
19             RN           0.506330          482
16             PI           0.499842          493
26             TO           0.499459          279
2              AM           0.498136          147
1              AL           0.474482          411
13             PA           0.473593          970
24             SE           0.464946          345

In [49]:
df_day2=df_day2.copy()
state_freight_clean.to_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\output\state_freight_efficiency.csv",
    index=False
)

TASK 2.3 — Order Volume & Peak Demand

In [39]:
orders_time=(
    df_day2
    .drop_duplicates("order_id")
    .set_index("order_purchase_timestamp")
    .sort_index()
)

In [40]:
orders_daily=orders_time.resample("D").size()
orders_daily.head()

order_purchase_timestamp
2016-09-04    1
2016-09-05    1
2016-09-06    0
2016-09-07    0
2016-09-08    0
Freq: D, dtype: int64

In [41]:
orders_weekly=orders_time.resample("W").size()
orders_weekly.head()

order_purchase_timestamp
2016-09-04    1
2016-09-11    1
2016-09-18    1
2016-09-25    0
2016-10-02    1
Freq: W-SUN, dtype: int64

In [42]:
orders_monthly=orders_time.resample("ME").size()
orders_monthly.head()

order_purchase_timestamp
2016-09-30      3
2016-10-31    308
2016-11-30      0
2016-12-31      1
2017-01-31    789
Freq: ME, dtype: int64

In [43]:
peek_day=orders_daily.idxmax()
peek_day_orders=orders_daily.max()

peek_day,peek_day_orders

(Timestamp('2017-11-24 00:00:00'), np.int64(1166))

In [44]:
orders_daily.describe()
orders_monthly.describe()

count      25.000000
mean     3946.640000
std      2688.951095
min         0.000000
25%      1733.000000
50%      4243.000000
75%      6452.000000
max      7451.000000
dtype: float64

In [45]:
orders_daily.to_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\output\orders_daily.csv")

In [46]:
orders_weekly.to_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\output\orders_weekly.csv"
)

In [47]:
orders_monthly.to_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\output\orders_monthly.csv"
)

DAY 3

TASK 3.1 — Create a Customer-Level Dataset

In [50]:
rfm_base=df_day2[[
                 "customer_unique_id",
                 "order_id",
                 "order_purchase_timestamp",
                 "total_payment_value"
                 ]

].dropna(subset=["customer_unique_id"])

In [51]:
customer_df=(
    rfm_base
    .groupby("customer_unique_id",as_index=False)
    .agg(
        last_purchase_date=("order_purchase_timestamp","max"),
        frequency=("order_id","nunique"),
        monetary=("total_payment_value","sum")
    )
)

In [52]:
customer_df.shape
customer_df.head()

                 customer_unique_id  last_purchase_date  frequency  monetary
0  0000366f3b9a7992bf8c76cfdf3221e2 2018-05-10 10:56:27          1    141.90
1  0000b849f77a49e4a4ce2b2a4ca5be3f 2018-05-07 11:11:27          1     27.19
2  0000f46a3911fa3c0805444483337064 2017-03-10 21:05:03          1     86.22
3  0000f6ccb0745a6a4b88665a16c9f078 2017-10-12 20:29:41          1     43.62
4  0004aac84e0df4da2b147fca70cf8255 2017-11-14 19:45:42          1    196.89

In [53]:
customer_df["customer_unique_id"].duplicated().sum()

np.int64(0)

In [54]:
rfm_customer_base=customer_df.copy()

In [55]:
reference_date=rfm_customer_base["last_purchase_date"].max()
reference_date

Timestamp('2018-09-03 09:06:57')

In [57]:
rfm_customer_base["recency"]=(
    reference_date - rfm_customer_base["last_purchase_date"]
).dt.days

In [58]:
rfm_customer_base.rename(
    columns={
        "frequency": "frequency",
        "monetary": "monetary"
    },
    inplace=True
)

In [59]:
rfm_customer_base[["recency", "frequency", "monetary"]].describe()

            recency     frequency       monetary
count  95420.000000  95420.000000   95420.000000
mean     242.600377      1.034018     212.828911
std      153.160320      0.211234     641.760089
min        0.000000      1.000000       0.000000
25%      118.000000      1.000000      63.907500
50%      223.000000      1.000000     113.150000
75%      352.000000      1.000000     202.542500
max      728.000000     16.000000  109312.640000

In [60]:
rfm_customer_base.isna().sum()

customer_unique_id    0
last_purchase_date    0
frequency             0
monetary              0
recency               0
dtype: int64

In [61]:
rfm = rfm_customer_base.copy()
rfm.head()

,customer_unique_id,last_purchase_date,frequency,monetary,recency
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,1,141.90,115
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,1,27.19,118
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,1,86.22,541
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,1,43.62,325
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,1,196.89,292

Task3.3:Quantile Scoring

In [62]:
# Recency score (reverse: recent buyers get higher score)
rfm["R_score"] = pd.qcut(
    rfm["recency"],
    q=5,
    labels=[5, 4, 3, 2, 1]
).astype(int)

# Frequency score
rfm["F_score"] = pd.qcut(
    rfm["frequency"].rank(method="first"),
    q=5,
    labels=[1, 2, 3, 4, 5]
).astype(int)

# Monetary score
rfm["M_score"] = pd.qcut(
    rfm["monetary"],
    q=5,
    labels=[1, 2, 3, 4, 5]
).astype(int)

In [63]:
rfm[["R_score", "F_score", "M_score"]].describe()

            R_score       F_score       M_score
count  95420.000000  95420.000000  95420.000000
mean       3.003301      3.000000      2.999874
std        1.414087      1.414221      1.414206
min        1.000000      1.000000      1.000000
25%        2.000000      2.000000      2.000000
50%        3.000000      3.000000      3.000000
75%        4.000000      4.000000      4.000000
max        5.000000      5.000000      5.000000

In [64]:
rfm["R_score"].value_counts().sort_index()
rfm["F_score"].value_counts().sort_index()
rfm["M_score"].value_counts().sort_index()

M_score
1    19085
2    19087
3    19085
4    19081
5    19082
Name: count, dtype: int64

In [65]:
rfm["RFM_score"] = (
    rfm["R_score"].astype(str) +
    rfm["F_score"].astype(str) +
    rfm["M_score"].astype(str)
)

In [66]:
rfm_scored = rfm.copy()
rfm_scored.head()

,customer_unique_id,last_purchase_date,frequency,monetary,recency,R_score,F_score,M_score,RFM_score
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,1,141.90,115,4,1,4,414
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,1,27.19,118,4,1,1,411
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,1,86.22,541,1,1,2,112
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,1,43.62,325,2,1,1,211
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,1,196.89,292,2,1,4,214

Customer Segmentation

In [67]:
def rfm_segment(row):
    if row["R_score"] >= 4 and row["M_score"] >= 4:
        return "Champions"
    elif row["R_score"] >= 3 and row["M_score"] >= 4:
        return "Loyal Customers"
    elif row["R_score"] >= 4 and row["M_score"] <= 2:
        return "Potential Loyalists"
    elif row["R_score"] == 3 and row["M_score"] == 3:
        return "Need Attention"
    elif row["R_score"] <= 2 and row["M_score"] >= 3:
        return "At Risk"
    elif row["R_score"] <= 2 and row["M_score"] <= 2:
        return "Lost Customers"
    else:
        return "Others"

In [68]:
rfm_scored["segment"] = rfm_scored.apply(rfm_segment, axis=1)

In [69]:
rfm_scored["segment"].value_counts()

segment
At Risk                22474
Champions              15690
Lost Customers         15641
Others                 15403
Potential Loyalists    14812
Loyal Customers         7517
Need Attention          3883
Name: count, dtype: int64

In [70]:
segment_distribution = (
    rfm_scored["segment"]
    .value_counts(normalize=True)
    .mul(100)
    .round(2)
)

segment_distribution

segment
At Risk                23.55
Champions              16.44
Lost Customers         16.39
Others                 16.14
Potential Loyalists    15.52
Loyal Customers         7.88
Need Attention          4.07
Name: proportion, dtype: float64

In [75]:
rfm_final = rfm_scored.copy()
rfm_final.to_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\output\rfm_customer_segments.csv", index=False
    )