In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
customer = pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_customers_dataset.csv"
)

customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [15]:
geolocation=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_geolocation_dataset.csv"
)
geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [16]:
order_items=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_order_items_dataset.csv"
    )

order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [17]:
payment=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_order_payments_dataset.csv"
    )

payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [18]:
reviews=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_order_reviews_dataset.csv"
    )

reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [19]:
orders=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_orders_dataset.csv"
)
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [20]:
product=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_products_dataset.csv"
)
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [21]:
sellers=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\olist_sellers_dataset.csv"
)
sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [22]:
category_translation=pd.read_csv(
    r"C:\Data_analysis_py\Brazilian-E-Commerce-Public-Dataset-by-Olist\Dataset\Working-dataset\product_category_name_translation.csv")

category_translation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

TASK 1.1 — Sanity & Structure Check (CODE)

In [23]:
datasets={
    "customer":customer,
    "orders":orders,
    "order_items":order_items,
    "product":product,
    "payment":payment,
    "reviews":reviews,
    "sellers":sellers,
    "category_translation":category_translation,
    "geolocation":geolocation

}

for name,df in datasets.items():
    print(f"\n{'='*50}")

    print(f"DATASET: {name.upper()}")
    print(f"{'='*50}")


    print("shape:",df.shape)
    print("\nColumns:")
    print(df.columns.tolist())


    print("\n missing values (%):")
    print((df.isna().mean()*100).round(2).sort_values(ascending=False).head(10))

==================================================
DATASET: CUSTOMER
==================================================
shape: (99441, 5)

Columns:
['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

 missing values (%):
customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

==================================================
DATASET: ORDERS
==================================================
shape: (99441, 8)

Columns:
['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

 missing values (%):
order_delivered_customer_date    2.98
order_delivered_carrier_date     1.79
order_approved_at                0.16
order_id                         0.00
order_purchase_timestamp         0.00
order_status                     0.00
customer_id                      0.00
order_estimated_delivery_date    0.00
dtype: float64

==================================================
DATASET: ORDER_ITEMS
==================================================
shape: (112650, 7)

Columns:
['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']

 missing values (%):
order_id               0.0
order_item_id          0.0
product_id             0.0
seller_id              0.0
shipping_limit_date    0.0
price                  0.0
freight_value          0.0
dtype: float64

==================================================
DATASET: PRODUCT
==================================================
shape: (32951, 9)

Columns:
['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

 missing values (%):
product_category_name         1.85
product_description_lenght    1.85
product_name_lenght           1.85
product_photos_qty            1.85
product_weight_g              0.01
product_height_cm             0.01
product_length_cm             0.01
product_width_cm              0.01
product_id                    0.00
dtype: float64

==================================================
DATASET: PAYMENT
==================================================
shape: (103886, 5)

Columns:
['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']

 missing values (%):
order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

==================================================
DATASET: REVIEWS
==================================================
shape: (99224, 7)

Columns:
['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']

 missing values (%):
review_comment_title       88.34
review_comment_message     58.70
review_id                   0.00
review_score                0.00
order_id                    0.00
review_creation_date        0.00
review_answer_timestamp     0.00
dtype: float64

==================================================
DATASET: SELLERS
==================================================
shape: (3095, 4)

Columns:
['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']

 missing values (%):
seller_id                 0.0
seller_zip_code_prefix    0.0
seller_city               0.0
seller_state              0.0
dtype: float64

==================================================
DATASET: CATEGORY_TRANSLATION
==================================================
shape: (71, 2)

Columns:
['product_category_name', 'product_category_name_english']

 missing values (%):
product_category_name            0.0
product_category_name_english    0.0
dtype: float64

==================================================
DATASET: GEOLOCATION
==================================================
shape: (1000163, 5)

Columns:
['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']

 missing values (%):
geolocation_zip_code_prefix    0.0
geolocation_lat                0.0
geolocation_lng                0.0
geolocation_city               0.0
geolocation_state              0.0
dtype: float64

TASK 1.2:Decide the “Grain” of the Data

olist_order_items_dataset

It already has:

order_id

product_id

seller_id

price

freight_value

TASK 1.3 — Chain Join

orders
   ↓
customers
   ↓
order_items   ← (this sets the grain)
   ↓
products
   ↓
category_translation

Orders-> Customers

In [24]:
df=orders.merge(
    customer,on="customer_id",
    how="left"

)

print("After orders + customers: ",df.shape)

After orders + customers:  (99441, 12)

In [25]:
df=df.merge(
    order_items,
    on="order_id",
    how="left"
)
print("After adding order items: ",df.shape)
print("Unique orders:",df['order_id'].nunique())

After adding order items:  (113425, 18)
Unique orders: 99441

In [26]:
df=df.merge(
    product,
    on="product_id",
    how="left"
)

print("after adding the products: ",df.shape)

after adding the products:  (113425, 26)

In [27]:
df=df.merge(
    category_translation,
    on="product_category_name",
    how="left"
)

print("after adding the category translation: ",df.shape)

after adding the category translation:  (113425, 27)

In [28]:
print("Rows:",df.shape[0])
print("unique order_id: ",df['order_id'].nunique())
print("unique product_id: ",df['product_id'].nunique())


df[['order_id','product_id']].duplicated().sum()

Rows: 113425
unique order_id:  99441
unique product_id:  32951

np.int64(10225)

In [29]:
df_chain=df.copy()